*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #070506 url('../img/main-background.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: background 0.3s;
}

.second-background {
    background: #070506 url('../img/main-background-2.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    padding: 90px 0 110px;
    width: 90%;
    max-width: 1060px;
    margin: 0 auto;
}

header {
    margin: 0 0 78px 0;
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 70px 0 0;
}

.nav-link {
    font-family: 'Roboto Regular';
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px 0 0;
}

nav-link:nth-child(4) {
    margin: 0;
}

.sub-title {
    font-family: 'Proxima Nova Black';
    font-size: 40px;
    line-height: 100%;
    color: #ffffff;
}

.title {
    font-family: 'Proxima Nova Black';
    margin: 10px 0 25px 0;
    font-size: 64px;
    line-height: 78px;
    color: #ffffff;
}

.info-text {
    font-family: 'Roboto Regular';
    max-width: 572px;
    font-size: 18px;
    line-height: 150%;
    color: #afafaf;
}

.info-notice {
    font-family: 'Roboto Regular';
    margin: 25px 0 5px 0;
    font-size: 18px;
    line-height: 150%;
    color: #b02000;
}

.date {
    font-family: 'Roboto Regular';
    font-size: 24px;
    line-height: 150%;
    color: #ffffff;
}

.trailer-btn {
    animation-iteration-count: infinite;
    font-family: 'Roboto Regular';
    position: relative;
    margin: 75px 0 0;
    padding: 0 0 0 34px;
    display: inline-block;
    width: 260px;
    height: 65px;
    background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
    border-radius: 300px;
    font-size: 14px;
    line-height: 65px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.trailer-btn::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    display: block;
    width: 65px;
    height: 65px;
    background: #ffffff url('../img/play-icon.png') 55% center no-repeat;
    border-radius: 50%;
}

.trailer-btn::before {
    position: absolute;
    right: -8px;
    top: -8px;
    content: "";
    display: block;
    width: 81px;
    height: 81px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.episodes-title {
    margin: 55px 0 25px;
    font-family: 'Roboto Black';
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
}

.slider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.slider-item {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width: 250px;
    min-height: 200px;
    padding: 30px;
    margin: 0 20px 0 0;
    background: rgba(80, 80, 80, 0.86);
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    overflow: hidden;
    text-decoration: none;
}

.slider-item-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.slider-item:hover {
    background: rgba(64, 101, 255, 0.86);
}

.item-year  {
    font-family: 'Roboto Regular';
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
}

.item-name {
    font-family: 'Roboto Black';
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
}

.rating-title {
    margin: 0 10px 0 0;
    font-family: 'Roboto Regular';
    font-size: 13px;
    line-height: 150%;
    color: #ffffff;
}

.star {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('../img/star-icon.svg') center no-repeat;
}

.star-empty {
    background: url('../img/empty-star-icon.svg') center no-repeat;
}

.left-arrow {
    margin: 30px 0 0;
    font-size: 0;
    width: 32px;
    margin: 0 15px 0 0;
    height: 32px;
    background: url('../img/left-arrow.svg') center no-repeat;
    border: none;
    cursor: pointer;
}

.right-arrow {
    margin: 30px 0 0;
    font-size: 0;
    width: 32px;
    height: 32px;
    background: url('../img/right-arrow.svg') center no-repeat;
    border: none;
    cursor: pointer;
}